@import "tailwindcss";

@layer base {
    html, body, #root { height: 100vh; }
}

.set__scrollbar__invisible::-webkit-scrollbar {
    display: none;
}

.set__scrollbar__invisible {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.set__copy__not__allow {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.set__copy__allow {
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;
    --text-primary: #0b0c0f;
    --text-secondary: #6b7280;
    --navbar-shadow-color: rgba(0, 0, 0, 0.1);
    --navbar-logo-text-color: #2563EB;
}

[data-theme="dark"] {
    --bg-primary: #1e1e1e;
    --bg-secondary: #111315;
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --navbar-shadow-color: rgba(255, 255, 255, 0.08);
    --navbar-logo-text-color: #ffffff;
}